
body{
    margin: 0;
}
.container{
    background-color: #03164c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    
}

.nav a{
 padding-left: 40px;
 text-decoration: none;
 color: white;
 padding-right: 40px;
}

.toggle{
    width: 35px;
}

.background{
    background-image: url(image/banner-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
    
}

.text{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 10px;
    background: #626975;
    border-radius: 10px;
    max-width: 900px;
    /* height: 200px; */
    margin-top: 185px;
    text-align: center;

}

.text h1, p{
color: white;
}

.h2{
    color:#03164c ;
}
.left{
    padding: 15px;
    background-color: #03164c;
    border-radius: 50%;
    color: white;
}

.right{
    padding: 15px;
    background-color: white;
    border-radius: 50%;
    color: #03164c;
}

.arrows{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.button1{
    margin-right: 350px;
    padding: 8px 22px;
    background-color: #03164c;
    border: none;
    color: white;
    border-radius: 6.5px;
}






/* ABOUT US STYLES */

.container-about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.about-us{
    display: inline-flex;
    justify-content: center;
    margin: 20px;
    padding:0px 30px 30px 30px;
    /* height: 400px; */
}

.img img{
    
    
    height: 530px;
    object-fit: cover;
    /* height: 400px; */
    /* margin-left: 80px; */
    /* width: 100%; */
}

.content h1{
    color: white;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 6px;
    
}

.h1-class{
    font-size: 35px;
    padding-bottom: 5px;
    border-bottom: 2px solid skyblue;
}

.p-class{
    font-family: cursive;
    color: white;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 6px;
}

.p2-class{
    color: black;
    
}

.content{
    background:black ;
}

.button-1{
    padding: 15px;
    background-color: #fe6703;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    margin-left: 20px;
}



/* OUR CLASSES STYLE */

.class-section{
    text-align: center;
}

.image-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.p-classes{
    color: black;
    /* font-family: cursive; */
}
.p-classes2{
    color: black;
    font-family: cursive;
}
.btn{
    padding: 10px 22px;
    border: none;
    background-color: #03164c;
    color: white;
    border-radius: 5px;
    margin-bottom: 40px;
}
.classes{
    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid skyblue;
}
.cls{
    border-bottom: 2px solid skyblue;
}


.partner{
    background-image: url(image/img-4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
}

.partner2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.partner2 h1{
    margin-left: 20px;
    color: white;
    font-size: 30px;
}

.ppp{
    color: white;
    margin-left: 20px;
}

.btn2{
    padding: 7px 22px;
    margin-left: 20px;
    border: none;
    background: #fe6703;
    border-radius: 5px;
    color: white;
}

         /* PRICE STYLES */

   .price-section{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
   }      

   .plans{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
   }

   .green{
    color: white;
    background: rgb(16, 68, 16);
    padding: 8px 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
   }

   .hhh{
    font-size: 25px;
   }

   .hhhh{
    color: rgb(236, 27, 27);
   }

   .btn3{
    padding: 10px;
    color: white;
    background: #03164c;
    border: none;
    border-radius: 6px;
   }

   .blue{
    background-color:#03164c ;
    color: white;
    padding: 8px 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
   }

   .btn4{
    padding: 10px;
    color: white;
    background: #fe6703;
    border: none;
    border-radius: 6px;
   }


   /* CONTACT US STYLES */

   .form{
    text-align: center;
   }

   form{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background-image: url(image/contact-bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 15px;
   }

   .form2{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-left: 60px;
    background-color: transparent;
    /* color: white; */
   }

   .message{
    padding-bottom: 30px;
   }

   .request{
    margin-left: 60px;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    color: white;
   }

   .btn5{
    margin-left: 60px;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    color: white;
    background: rgb(16, 68, 16);
   }


   /* FOOTER STYLES */

   footer{
    text-align: center;
    color: white;
    background: #03164c;
    margin-bottom: -40px;
   }

   .footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    
    padding: 20px;
    height: 100px;
   }

   .footer2{
    display: flex;
    justify-content: center;
    align-items: center;
    
   }

   .footer2 img{
    margin-right: 10px;
   }

   .copy{
    padding-bottom: 15px;
   }